html,
body {
    display: flex;
    margin: auto;
    justify-content: center;
}

.heading_row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
}

.contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 100px;
    padding: 2vw;
    align-items: center;
}

button {
    margin: 1vw;
    padding: 1vw;
    background-color: grey;
    color: white;
}

a {
    text-decoration: none;
    color: inherit
}

a:hover {
    color: inherit;
}

form {
    border: 1px gray solid;
    text-align: left;
    padding: 0;

}

input {
    margin: 0 10px 10px 10px;
}

label {
    margin: 0;
}