html,
body {
    display: flex;
    margin: auto;
    justify-content: center;
    text-align: center;
    font-family: Helvetica;
}

.heading_row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
}

.contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 100px;
    padding: 2vw;
    align-items: center;
}

button {
    margin: 1vw;
    padding: 1vw;
    background-color: grey;
    color: white;
}

a {
    text-decoration: none;
    color: inherit
}

a:hover {
    color: inherit;
}

form {
    border: 1px gray solid;
    text-align: left;
    padding: 0;

}

input {
    margin: 0 10px 10px 10px;
}

label {
    margin: 0;
}

table,
th,
tr,
td {
    border: 1px black solid;
    border-collapse: collapse;
    justify-content: center;
    padding-left: 1vw;
    padding-right: 1vw;
    align-items: center;
    text-align: left;
    width: 100%;
}


.item_display {
    width: 10vw;
    height: 10vw;
    background: #00265a;
    border-radius: 2vw;
    color: white;
    justify-content: center;
    text-align: center;
    border: none;
    font-size: 100%;
    transition-duration: 0.25s;
}

.item_display:hover {
    background-color: #02214d;
}

.item_grid {
    display: grid;
    align-items: center;
    column-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}


table.cart th tr td {
    border: 1px black solid;
    border-collapse: collapse;
    justify-content: center;
    padding-left: 1vw;
    padding-right: 1vw;
    align-items: center;
    text-align: left;
    width: 100%;
}